
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  ul {
    list-style: none;
  }
  a {
    text-decoration: none;
  }
   .menu-links .logo a{
    font-size: 40px;
   }
  .navHome{
    display: flex;
    gap: 20px;
    color:rgb(56, 55, 55);
    z-index: 999;
   
}
   .navHome a{
    color: rgb(31, 30, 30);
   }
  .menu-links{
    
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 70px;
    background-color: transparent;
    
}
.end{
    font-size: 50px;
    color: rgb(198, 173, 128);

}

.btn{
  width: 200px;
  height: 50px;
  border-radius: 38px;
  border: 1px solid rgb(180,156,115);
  background-color: rgb(180,156,115);
  color: white;
  cursor: pointer;
}
.image{
  display: flex;
  position: relative;
  max-width: 100%;
}

.text span , .link1 {
  color: rgb(251, 220, 181);
}
.text h2{
  font-size: 60px;
}
.text p{
  font-size: 20px;
  color: rgb(117,118,118);
}
.text{
  position: absolute;
  margin-top: -40%;
  margin-left: 60%;
  display: flex;
  flex-direction: column;
  gap: 12px;
 

}