
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  ul {
    list-style: none;
  }
  a {
    text-decoration: none;
  }

  .navHome{
    display: flex;
    gap: 20px;
    background-color: transparent;
    z-index: 999;
}
  .menu-links{
    
    display: flex;
    position: absolute;
    justify-content: space-around;
    align-items: center;
    height: 90px;
}
.end{
    font-size: 60px;
    color: rgb(198, 173, 128);

}

.btn{
  width: 200px;
  height: 50px;
  border-radius: 38px;
  border: 1px solid rgb(180,156,115);
  background-color: rgb(180,156,115);
  color: white;
  cursor: pointer;
}
.img{
  display: flex;
  position: relative;
  max-width: 100%;
}
.text span , .link1 {
  color: rgb(251, 220, 181);
}
.text h2{
  font-size: 60px;
}
.text p{
  font-size: 20px;
  color: rgb(117,118,118);
}